<h1 style="margin-top:0;">
  Hello,
  <strong>
    {{organizer}}
  </strong>
</h1>
<p>
  The user
  {{userName}}
  (
  {{userEmail}}
  ) subscribed to join your meetup
  <strong>
    {{meetupTitle}}
  </strong>
</p>
